
$c1: (YellowGreen, Aquamarine, PowderBlue, DeepSkyBlue, DeepPink, MediumVioletRed, LightSalmon, Tomato, Moccasin);
$c2: (Orchid, Indigo, LawnGreen, SpringGreen, DarkOliveGreen, Teal);
$backImage1: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
$backImage2: linear-gradient(119deg, #FFDEE9 0%, #B5FFFC 100%);
$backImage3: linear-gradient(90deg, #2c6ee0 0%, #FFBBEC 100%);
$backImage4: linear-gradient(25deg, #49ebe3 20%, #696d7b 90%);
$backImage5:  linear-gradient(70deg, #9000ff 0%, #f6f3ff76 100%);
$backImage6: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
