@import "Standard";
@import "mixin";
@import "variable";

// purple Navbar style    start
.nav_Containter {
  @include flex(row, 0, center, 0);
  padding-bottom: 0.5vmin;

  text-align: center;
  flex-wrap: wrap;
  height: 40px;
  background-image: $backImage6;
  background-color: paleturquoise;
  overflow: hidden;

  p {
    @include fp(3vmin, 500);
    color: white;
    font-weight: 500;
    font-family: serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(249, 242, 242);
  }
  .nav_head {
    width: 30%;
    overflow: hidden;
  }

  .nav_Components {
    flex: 1;

    @include flex(row, space-evenly, center, 0);
    overflow: auto;
    Navlink {
      text-decoration: none !important;
      // color: #7c096b;
    }
  }
}

// purple Navbar style    end

// purple Login style    start

.Loginmaincontainer {

  @include flex;
  width: 100%;
  height: calc(100vh - 40px);
  background-image: $backImage1;

  .dashboard {
    width: 70%;

    padding: 1rem 1rem;
    border-radius: 2rem;
    background-image: $backImage3;
    // display: flex;
    &:hover {
      @include bd;
      border-color: white;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
      padding: 0.5rem 0.5rem;
    }
  }

  .__forgotPassword {
    font-size: smaller !important;
  }
}

.FormContainer {
  flex: 1;
  display: flex;
  padding: 1rem 1rem;

  .signUpForm {
    width: 100%;

    .inputContainer {
      display: flex;

      > :nth-child(1) {
        flex: 1;
      }

      .imageContainer {
        @include bd(3px, rgb(248, 248, 250));
        width: 25%;
        height: 25%;
        aspect-ratio: 1/1;
        margin-left: 20px;

        @include flex;

        border-radius: 100rem;
        overflow: hidden;
        position: relative;
        // bottom: 20px;

        .avatarImage {
          width: 100% !important;
          aspect-ratio: 1/1;

          object-fit: fill;
          transition: all 1s;

          &:hover {
            transform: scale(1.2);
          }
        }

        @media screen and (max-width: 500px) {
          width: 70px;
          height: 70px;

          border-radius: 20rem;
          margin: 0 auto;
          margin-left: 10px;
          position: relative;
          top: 10px;

          .avatarImage {
            width: 100% !important;

            height: auto;
            border-radius: 1rem;
            object-fit: fill;
            transition: all 1s;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    ._inputContainer {
      display: flex;
      flex-direction: column;
    }

    .fieldInput {
      input {
        width: 100%;
        max-width: 30rem;
        height: 1.5rem;
        border-radius: 5px;
        padding: 0 1rem;
        font-family: Times, serif;
        letter-spacing: 1px;
        border: none;
        outline: none !important;
        &:focus {
          border: 2px solid whitesmoke !important;
          outline: 2px solid rgb(178, 165, 165) !important;
        }
      }
    }

    .signUpAvatar {
      width: 100%;
      flex: 1;
      overflow: hidden;

      input {
        width: 100%;
        max-width: 30rem;
      }

      .custom-file-input {
        @include bd;
        font-size: clamp(10px, 2vmin, 12px) !important;
        margin: 0;
        height: 40px;
        border-radius: 50rem;
        background-image: linear-gradient(to right, #544a7d, #ffd452);
      }

      .custom-file-input::-webkit-file-upload-button {
        display: none;
        position: absolute;
        left: 17%;
        font-size: 8px !important;
      }

      .custom-file-input::before {
        content: "Upload image";
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        height: 35px;
        width: 70%;
        max-width: 10rem;
        outline: none;
        cursor: pointer;
        margin: 2px 10px 0 2.5px;
        padding: 0 15px;
        font-weight: 500;
        font-size: clamp(10px, 2vmin, 14px) !important;
        border: 1px solid #999;
        border-radius: 2rem;
        background-image: $backImage4;
        overflow: hidden !important;

        // @include bd  ;
      }
      .custom-file-input:hover::before {
        color: white;
        border-color: rgb(0, 47, 0);
        text-shadow: 2px 0px 2px rgb(2, 0, 0);
      }
    }
  }

  .dashButton1 {
    @include button;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .Signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    p {
      margin: 0 !important;
      font-size: clamp(8px, 2vmin, 14px) !important;
      color: rgb(0, 0, 192);
      font-weight: bold;
    }

    .dashButton2 {
      @include button;
      background-image: $backImage6;
      margin: 0;
      margin-left: 20px !important;
      font-size: clamp(8px, 1.7vmin, 14px) !important;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-5px);
        // transform: scale(1.2)
      }
    }
  }
}

// purple Login style    end

// purple Profil style    start

.Pro_mainContainer {
  width: 100%;
  min-height: calc(100vh - 40px);
  display: flex;

  .Pro_leftSection {
    @include standard(30vw);
    background-image: linear-gradient(270deg, #f1e1a8 50%, #ffbdf5 100%);
    @include flex(column);

    .Pro_imageSection {
      padding: 1rem;
      @include flex;
      position: relative;
      bottom: 25px;

      img {
        @include standard(30vmin, 30vmin);
        aspect-ratio: 1/1;
        border-radius: 50rem;
        overflow: scroll;
        box-shadow: 5px 2px 8px 1px rgba(255, 0, 0, 0.595);
      }

      :hover {
        transform: scale(1.1);
      }
    }
    button {
      @include button;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .Pro_rightSection {
    background-image: linear-gradient(90deg, #fad961 0%, #fc6b18 100%);
    flex: 1;
    overflow: hidden;
    height: inherit;

    .Pro_infoSection {
      width: 100%;
      height: 55vh;
      @include flex(column, space-evenly, none);

      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

      div {
        display: flex;
        align-items: center;
        margin-left: 2vmin;
        flex-wrap: wrap;
        gap: 8px;

        > :first-child {
          font-family: Josefin Sans;
          font-weight: 700;
          text-transform: capitalize;
          width: 20vmin;
          max-width: 20vmin;
          text-align: center;

          padding: 0 0.5rem;
          min-width: fit-content;

          box-shadow:
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
        > :nth-child(2) {
          margin-left: 5vmin;
          background-color: #ffffff2c;
          display: inline;
          box-shadow:
            rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          padding: 0 1rem;
          border-radius: 30px;
          width: 15rem;

          &:hover {
            outline: 1px solid #f9f6f6;
          }
        }

        p {
          margin: 0;
          font-family: Bad Script;
          letter-spacing: 3px !important;
          font-weight: 600;
        }
      }
    }

    .Profile_utility {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 0 1.5rem;
      margin-top: 30px;
      height: fit-content;

      button {
        @include button(0, 0, 0, 5px);
        min-width: 15rem;
        background-image: $backImage5;
      }
    }
  }

  @media screen and (max-width: 650px) {
    display: block;
    width: 100%;
    min-height: 50vh;

    p {
      font-size: 14px !important;
    }
    .Pro_leftSection {
      @include bd;
      height: fit-content;

      .Pro_imageSection {
        position: static;
      }

      width: 100% !important;
      display: block;

      img {
        position: static !important;
        width: 30vw !important;
        height: 30vw !important;
      }

      > :nth-child(2) {
        text-align: end;
        margin-right: 2rem;
        margin-bottom: 1rem;
      }
    }

    .Pro_infoSection {
      height: 30vh !important;
    }

    .Profile_utility {
      height: 18vh !important;
      font-size: 18px !important;
      font-weight: 700 !important;

      button {
        min-width: 25vmin;
      }
    }
  }
}

// purple Profil style    end

// purple secret style    start

.Secret_MainContainer {
  height: calc(100vh - 40px);
  width: 100vw;
  // background-image: $backImage5;
  background-image: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
  .__searchContainer2 {
    height: 80px;
    width: 60%;
    @include flex;
    margin: 0 auto;
    font-family: Arial, sans-serif;

    select {
      height: 30px;
      border-radius: 5px 0 0 5px;
      width: fit-content;
      text-align: center;
      outline: none !important;
      border: none !important;
      letter-spacing: 0.5px;

      &:focus {
        outline: none !important;
        border: 1px solid rgb(228, 1, 253) !important;
      }
    }
    input {
      height: 30px;
      width: 70%;
      flex: 1;
      min-width: 40%;
      padding-left: 10px;
      outline: none !important;
      border: none !important;
      letter-spacing: 1px;

      &:focus {
        outline: none !important;
        border: 2px solid navy !important;
        border-radius: 5px;
      }
    }
    p {
      height: 30px;
      margin: 0 !important;
      padding: 0 !important;
      display: grid;
      place-items: center;
      background-color: #8deafb;
      border-radius: 0 5px 5px 0;
      padding: 0 10px !important;
      letter-spacing: 0.5px;

      &:hover {
        color: purple;
        border-radius: 0 5px 5px 0;
        @include textshadow;
      }
    }
  }

  .Secret_Container {
    height: calc(100vh - 120px - 15vh);
    display: flex;
    .Secret_leftSection {
      height: 100%;
    }

    .image_section {
      height: 100%;
      overflow: auto;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #f76b1c;
        border-radius: 10px;
      }

      button {
        @include button;
      }

      .Secret_image {
        @include standard(25vmin, 25vmin);
        border-radius: 20rem;
        margin: 0 5vmin;
      }

      .image_info {
        margin: 0 10vmin;
        text-align: center;
        @include fp(0, 400);
        font-family: Arial, Helvetica, sans-serif;
        color: white;

        @include textshadow(1px, rgb(8, 8, 8));
      }
    }
  }

  .Secret_rightSection {
    width: 30vw;
    height: calc(100vh - 120px);
    .Secret_image {
      width: 50%;
      aspect-ratio: 1 / 1;
      border-radius: 0.5rem;
      object-fit: cover;
      margin-left: 25%;
      margin: 5vmin 25%;
      @include bd(2px, white);
      &:hover {
        @include bd(2px, navy);
      }
    }

    .image_info {
      font-family: serif;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      gap: 4vmin;
      @include textshadow(1px, navy);
    }
    .image_basic1 {
      @include flex(0, space-evenly);
    }
    .image_basic2 {
      @include flex(0, space-between);
      margin: 0 20px;
    }
    .image_basic3 {
      text-align: center;
    }
    button {
      margin-top: 5vmin;
      @include button;
    }
    p {
      &:hover {
        color: DodgerBlue;
      }
    }
  }

  .Secret_pagination {
    height: 15vh;
    @include flex;
    @include bd;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    background-image: linear-gradient(270deg, #fcd031a4 50%, #f55555d0 100%);
    .pageDiv {
      @include bd;
      display: grid;
      place-items: center;
      min-height: 20px;
      min-width: 20px;
      @include textshadow(1px, DarkBlue);

      &:hover {
        color: blue;
        transform: translateY(-5px);
        border: 2px solid darkblue;
      }
    }
  }
}

// purple secret style    end

// purple Home style    start

.HomeMainContainer {
  &::-webkit-scrollbar {
    width: 12px;
    background-color: pink;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
  }
  // border: 1px solid #000;
  width: 100%;
  min-height: 77vh;
  @include bd;

  .renderProduct {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
  }
  .renderProduct2 {
    margin: 20px 0;
    border-radius: 1vmin;
    display: inline-block;
    transition: all 0.5s;
    width: 20vw;
    min-width: 8rem;

    img {
      width: 100%;

      border-radius: 1vmin 1vmin 0 0;
      z-index: 200;
    }
    .infoSection {
      background-color: #ffd7d782;
      border-radius: 0 0 1vmin 1vmin;
      padding: 1vmin;
      width: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        background-color: rgb(239, 30, 65);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 0, 255, 0.5);
        border-radius: 10px;
      }

      p {
        margin: 0;
      }

      .mypro__stock {
        text-align: end;
        p {
          padding: 0 1rem;
          border-radius: 10px;
          font-size: 12px !important;
        }
      }
    }

    &:hover {
      transform: translateY(-20px);
      box-shadow: 1px 1px 10px 1px rgb(134, 133, 133);
    }
  }

  .paginationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  @media screen and (max-width: 700px) {
    .renderProduct {
      display: flex;
      flex-wrap: wrap;
    }

    // .renderProduct2 {

    // }
  }
}
// purple Home style    end
// purple Footer style    end

.footer {
  bottom: 1px;
  position: relative;
  bottom: 0;
  width: 100%;

  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1vmin;

  > :first-child {
    width: 30vw;
    h4 {
      color: pink !important;
      font-size: 15px !important;
    }
    p {
      margin-top: 20px;
      color: purple !important;
      font-size: 13px !important;
    }
  }

  .midFooter {
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    h1 {
      margin-left: 1rem;
    }

    :first-child {
      color: rgb(255, 88, 144);
      @include textshadow(7px, rgba(255, 0, 0, 0.458));
    }
    :nth-child(2) {
      color: #fe0404;
      @include textshadow(5px, rgb(2, 0, 0));
    }
    :nth-last-child(1) {
      font-size: 0.8rem !important;
    }
  }

  .rightFooter {
    width: 30vw;
    @include bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-size: 1rem !important;
      text-decoration: none;
      color: deeppink;
      @include textshadow(5px, rgba(255, 0, 0, 0.458));
    }
  }
}

// purple Footer style    end

// purple Home style    start
.Homesearch_MainContainer {
  margin-top: 20px;
  .Homesearch__searchContainer2 {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;

    p {
      margin: 0;
    }
    select {
      height: 30px;
      border-radius: 10px 0 0 10px;
      width: fit-content;
      text-align: center;
      outline: none !important;
      border: none !important;
      letter-spacing: 0.5px;
      background-color: #d1c8c8;
      border-bottom: 2px solid limegreen !important;

      &:focus {
        outline: none !important;
        border: 1px solid rgb(228, 1, 253) !important;
      }
    }
    input {
      height: 30px;
      width: 70%;
      flex: 1;
      min-width: 40%;
      padding-left: 10px;
      outline: none !important;
      border: none !important;

      border-bottom: 2px solid limegreen !important;

      letter-spacing: 2px;
      @include textshadow(3px, black);

      &:focus {
        outline: none !important;
        border-bottom: 2px solid navy !important;
        text-shadow: none;
      }
    }
    p {
      height: 30px;
      margin: 0 !important;
      padding: 0 !important;
      display: grid;
      place-items: center;
      background-color: #8deafb;
      border-radius: 0 5px 5px 0;
      padding: 0 10px !important;
      letter-spacing: 0.5px;
      border-bottom: 2px solid limegreen !important;

      &:hover {
        color: purple;
        border-radius: 0 5px 5px 0;
        @include textshadow;
      }
    }
  }
}

.Slider {
  position: absolute;
  top: 25px;
  width: 20vmin;
  padding: 1rem;
}

// purple Home style    end

// purple Myproduct style    start

.myproductMainContainer {
  width: 100%;
  height: 85vh;
  display: flex;

  .myproductImagesection {
    width: 40%;
    height: inherit;
    background-image: $backImage5;

    img {
      width: 100%;
      margin-top: 25px;
    }
  }

  .myproductinfosection {

    
    background-image: $backImage5;
    width: 60%;
    padding: 5vmin 0 0 5vmin;
    text-transform: capitalize;
    overflow: auto;
    .mypro__stock {
      > :first-child {
        padding: 0 1rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      }
    }

    .Cart_utility {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 1.5rem;
      flex-wrap: wrap;
      margin-top: 30px;

      height: 20vh;

      button {
        @include button(0, 0, 0, 5px);
        background-image: $backImage6;
        border-radius: none !important;
        min-width: 10rem;
      }
    }
  }
  .myproductReviewSection {
    // overflow: scroll;
    padding-left: 5vmin;

    > :first-child {
      @include fp(1rem, 700);
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    div {
      > :nth-child(2) {
        padding-left: 5vmin;
      }
    }

    input{
     flex:1;
     border-radius:  5px 0 10px 5px;
     padding-left: 20px;
    }

    form{

    > :nth-child(1){
      @include flex  ; 
      gap: 5vmin;
    }
    > :nth-child(2){
      @include flex  ; 
      gap: 20px;
      padding: 1rem 5vmin  ;
      padding-left: 0;
      button{
        @include button  ; 
        padding: 0rem 1rem;
        &:hover{
          font-weight: 900;
        }
        
      }
    }
      
    }










  }
}

.myproduct_CartInput {
  display: flex;
  align-items: center;
  // width: 100% !important;
  height: 30px;

  > :first-child {
    width: fit-content;
    padding-right: 1rem;
  }

  input {
    width: 35px;
    height: 8vmin;
    max-height: 45px;
    margin: 0 1px;
    text-align: center;
    border-radius: 5px;
    background-color: #d2d2d2;

    &:focus {
      border-bottom: 5px solid cyan;
    }
  }

  > div > button {
    @include button;
    background-image: none;
    background-color: tomato;
    margin-left: 1rem;
    min-width: fit-content !important;
    p {
      margin: 0;
      @include fp(12px, 200);
    }
  }
}

// purple Myproduct style    end
// purple Toast style    start

// .Toast {
//   font-family: Bad Script !important;
//   font-size: 8px !important;
//   color: navy !important;
//   background: darkblue;
//   width: 2rem;
//   > body {
//     background-color: red;

//   }

// }

.toast-message {
  background-image: $backImage1 !important;
  color: #f9f7f7 !important;
  font-size: 10px;
  padding: 0 20px !important;
  width: fit-content;
  // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px !important;

  @media screen and (max-width: 600px) {
    display: none;
  }
}
.Toastify__toast-body {
  font-size: 10px !important; /* Adjust the font size here */
  margin: 0 !important;
  padding: 0 !important;
}

// purple Toast style    end

// purple MycartIcon style    start
.MycartIcon {
  position: absolute;
  right: 5%;
}

// purple MycartIcon style    end

// purple Mycart style    start

.container {
  min-height: 70vh;

  .mainCartContainer {
    width: 100%;

    .forEachContainer {
      width: 100%;

      display: flex;

      p {
        margin: 0;
      }
      > :first-child {
        width: 10%;
        @include flex(column);

        img {
          margin-top: 5px;
          width: 60px;
          height: 60px;
        }
      }
      > :last-child {
        flex: 1;
        > :last-child {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
        }
      }
    }

    .InCart_section {
      display: flex;
      flex-wrap: wrap;

      width: 70% !important;
      // border: 1px solid #000 !important;

      .mycartButtonSection {
        display: flex;
        flex: 1;

        > div {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          margin-top: 0.5rem;

          > button {
            @include button;
            background-image: none;
            padding-top: 0;
            background-color: tomato;
            height: 20px;
            p {
              margin: 0;
              @include fp(10px, 200);
            }
          }
        }
      }

      input {
        height: 30px;
      }
    }
  }
  .cartPriceUtilitySection {
    text-align: end;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    .mycartButtonSection {
      button {
        @include bd;
        width: 7rem !important;
        padding: 0 !important;
        margin: 0 2px !important;
      }
    }
  }
}

// purple Mycart style    end
// purple Forgotcontainer style    start
.__Forgotcontainer {
  min-height: 76vh;
  @include flex(column);
  gap:20px;

  p {
    text-decoration: underline;
    @include textshadow  ; 

    
  }

  input {
    border-bottom: 2px solid navy;
    border-radius: 5px;

    &:focus {
      border-top: 2px solid navy;
    }
    &:hover {
      border-left: 2px solid navy;
      border-right: 2px solid navy;
    }
  }

  button{
    @include button  ; 
    padding: 0 1rem ;
    margin-left: 1rem;
    
  }
  h2{
    @include textshadow  ;
    
  }

}

// purple Forgotcontainer style    end
